// Make sure the charset is set appropriately
@charset "UTF-8";

// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

html, body {
	height: 100%;
}

body {
	background: white url('../images/bg.jpg') 50% 50% no-repeat fixed;
	background-size: cover;
	text-rendering: optimizeLegibility;
}

#main {
	padding-top: 32px;
	@media only screen and (max-width:"#{$small-screen}") {
		padding-top: 0;
	}
	.page-wrapper {
		@include perspective(1600px);
	}
}

.card {
	background-color: white;
	padding: 12px;
	max-width: 420px;
	margin: 0 auto;
	@include box-shadow(8px 0 22px rgba(0,0,0,0.38));

	.card-front {

	}
	.card-back {
		background: #444;
	}
	// @include transform(rotateY(-180deg));
	// @include transform(rotateY(0deg));
	// @include transform(rotateY(180deg));
}
.page {
	position: absolute;
	width: 100%;

	@include backface-visibility(hidden); // Prevent backface
	@include transform-style(preserve-3d);

	&.back.in,
	&.back.out,
	&.forward.in,
	&.forward.out {
		@include transition(all 0.75s ease-out);
	}
	/* Out of screen, left side */
	&.back.out,
	&.forward {
		@include transform(translate3d(100%, 0, -250px));
	}
	/* On screen */
	&.back.in,
	&.forward.in {
		@include transform(translate3d(0, 0, 0));
	}
	/* Out of screen, right side */
	&.back,
	&.forward.out {
		@include transform(translate3d(-100%, 0, -250px));
	}
}